services:
  nodered1:
    image: nodered/node-red:latest
    container_name: nodered1
    restart: always
    ports:
      - "1881:1880"
    networks:
      - backend
    environment:
      - TZ=Europe/Madrid
    volumes:
      - node-red-1-data:/data

  nodered2:
    image: nodered/node-red:latest
    container_name: nodered2
    restart: always
    ports:
      - "1882:1880"
    networks:
      - backend
    environment:
      - TZ=Europe/Madrid
    volumes:
      - node-red-2-data:/data

  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis-data:/data
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    depends_on:
      - nodered1
      - nodered2
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  redis-data:
  node-red-1-data:
  node-red-2-data:
